.bicycle {
  width: 100%;
  min-width: 1024px;
  max-width: 1166px;
  margin: 0 auto;
  min-height: 1038px;
  padding-top: 150px;
  padding-left: 30px;
  padding-right: 10px;

  @media (max-width: $tablet-width) {
    min-width: 768px;
    max-width: 1023px;
    min-height: auto;
    padding-top: 50px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 43px;
  }

  @media (max-width: $mobile-width) {
    min-width: 320px;
    max-width: 767px;
    padding-bottom: 31px;
  }
}

.bicycle h2 {
  @include text-reset;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.1px;
  color: $dark-1;

  margin-left: 35.7%;
  margin-bottom: 89px;

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: calc(41 / 24);
    display: block;
    width: 230px;
    margin: 0 auto;
    margin-bottom: 5px;
  }
}

.bicycle__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    justify-content: center;
  }
}

.bicycle__box {
  position: relative;
  width: 31%;
  min-width: 315px;
  max-width: 342px;

  @media (max-width: $tablet-width) {
    width: 270px;
    min-width: auto;
    margin: 25px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;
  }
}

.bicycle__box--midle {
  margin-top: -30px;

  @media (max-width: $tablet-width) {
    margin-top: 25px;
  }
}

.bicycle__box--high {
  margin-top: -40px;

  @media (max-width: $tablet-width) {
    margin-top: 25px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 20px;
  }
}

.bicycle__box--circle-l::before {
  content: "";
  position: absolute;
  top: 157px;
  left: -60px;
  width: 180px;
  height: 180px;
  background-image: url("../img/ellipse.svg");
  background-repeat: no-repeat;
  z-index: 1;

  @media (max-width: $tablet-width) {
    top: 200px;
    left: -37px;
    width: 127px;
    height: 127px;
    background-image: url("../img/ellipse-mobile.svg");
  }

  @media (max-width: $mobile-width) {
    left: -25px;
  }
}

.bicycle__box--square::before {
  content: "";
  position: absolute;
  top: -18px;
  left: -19px;
  width: 47px;
  height: 47px;
  background-image: url("../img/rectangle.svg");
  background-repeat: no-repeat;
  z-index: 3;

  @media (max-width: $tablet-width) {
    content: none;
  }
}

.bicycle__box--square::after {
  content: "";
  position: absolute;
  bottom: 31px;
  right: -23px;
  width: 47px;
  height: 47px;
  background-image: url("../img/rectangle.svg");
  background-repeat: no-repeat;
  z-index: 3;

  @media (max-width: $tablet-width) {
    content: none;
  }
}

.bicycle__box--circle-s::before {
  content: "";
  position: absolute;
  top: -31px;
  right: -36px;
  width: 95px;
  height: 95px;
  background-image: url("../img/ellipse2.svg");
  background-repeat: no-repeat;
  z-index: 3;

  @media (max-width: $tablet-width) {
    top: -20px;
    right: -25px;
    width: 68px;
    height: 68px;
    background-image: url("../img/ellipse2-mobile.svg");
  }

  @media (max-width: $mobile-width) {
    top: -20px;
    right: -15px;
  }
}

.bicycle__item {
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.bicycle__img {
  width: 342px;
  margin-bottom: 21px;

  @media (max-width: $tablet-width) {
    width: 270px;
    height: 300px;
  }
}

.bicycle__img img {
  @media (max-width: $tablet-width) {
    width: 270px;
    height: 300px;
  }
}

.bicycle__img--road {
  height: 503px;

  @media (max-width: $tablet-width) {
    width: 270px;
    height: 300px;
  }
}

.bicycle__img--mountain {
  height: 566px;

  @media (max-width: $tablet-width) {
    width: 270px;
    height: 300px;
  }
}

.bicycle__img--child {
  height: 513px;

  @media (max-width: $tablet-width) {
    width: 270px;
    height: 300px;
  }
}

.bicycle__item p {
  @include text-reset;
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -0.5px;
  color: $dark-5;
  text-align: center;
}

.bicycle__item:hover > p,
.bicycle__item:focus > p {
  color: $basic;
}

.bicycle__item:active > p {
  color: rgba($basic, 0.5);
}
