.bicycle {
  width: 100%;
  min-width: 1024px;
  max-width: 1166px;
  margin: 0 auto;
  min-height: 1038px;
  padding-top: 150px;
  padding-left: 32px;
  padding-right: 8px;
  // background-color: pink;
}

.bicycle h2 {
  @include text-reset;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.1px;
  color: $dark-1;

  margin-left: 35.7%;
  margin-bottom: 89px;
}

.bicycle__inner {
  display: flex;
  justify-content: space-between;
}

.bicycle__box--midle {
  margin-top: -30px;
}

.bicycle__box--high {
  margin-top: -40px;
}

.bicycle__box {
  position: relative;
}

.bicycle__box--circle-l::before {
  content: "";
  position: absolute;
  top: 157px;
  left: -60px;
  width: 180px;
  height: 180px;
  background-image: url("../img/icon-ellipse.svg");
  background-repeat: no-repeat;
  z-index: 1;
}

.bicycle__box--square::before {
  content: "";
  position: absolute;
  top: -18px;
  left: -19px;
  width: 47px;
  height: 47px;
  background-image: url("../img/icon-rectangle.svg");
  background-repeat: no-repeat;
  z-index: 3;
}

.bicycle__box--square::after {
  content: "";
  position: absolute;
  bottom: 31px;
  right: -23px;
  width: 47px;
  height: 47px;
  background-image: url("../img/icon-rectangle.svg");
  background-repeat: no-repeat;
  z-index: 3;
}

.bicycle__box--circle-s::before {
  content: "";
  position: absolute;
  top: -31px;
  right: -36px;
  width: 95px;
  height: 95px;
  background-image: url("../img/icon-ellipse2.svg");
  background-repeat: no-repeat;
  z-index: 3;
}

.bicycle__item {
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.bicycle__img {
  width: 342px;
  margin-bottom: 10px;
}

.bicycle__img--road {
  height: 503px;
}

.bicycle__img--mountain {
  height: 566px;
}

.bicycle__img--child {
  height: 513px;
}

.bicycle__item p {
  @include text-reset;
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -0.5px;
  color: $dark-5;
  text-align: center;
}

.bicycle__item:hover > p,
.bicycle__item:focus > p {
  color: $basic;
}

.bicycle__item:active > p {
  color: rgba($basic, 0.5);
}
