.features {
  width: 100%;
  min-width: 1024px;
  max-width: 1166px;
  padding-top: 150px;
  margin: 0 auto;
  min-height: 503px;

  @media (max-width: $tablet-width) {
    min-width: 768px;
    max-width: 1023px;
    min-height: 496px;
    padding-top: 70px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 73px;
    min-width: 320px;
    max-width: 767px;
    min-height: 838px;
  }
}

.features h2 {
  @include text-reset;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.1px;
  color: $dark-1;
  margin-left: 35.2%;
  margin-bottom: 50px;

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: calc(41 / 24);
    width: 290px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 37px;
  }
}

.features__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  counter-reset: myCounter;

  @media (max-width: $tablet-width) {
    justify-content: center;
  }
}

.features__item {
  width: 263px;
  min-height: 134px;
  padding-top: 53px;
  text-align: center;
  position: relative;

  @media (max-width: $tablet-width) {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
  }

  @media (max-width: $mobile-width) {
    min-height: 125px;
    padding-top: 47px;
    margin-bottom: 38px;
  }
}

.features__item::before {
  counter-increment: myCounter;
  content: counter(myCounter, decimal-leading-zero);
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: calc(38 / 28);
  color: $basic;

  @media (max-width: $mobile-width) {
    top: 22px;
    letter-spacing: -1.5px;
  }
}

.features__item p {
  @include text-reset;
  font-size: 22px;
  line-height: calc(34 / 22);
  letter-spacing: -0.5px;

  @media (max-width: $mobile-width) {
    font-size: 18px;
    line-height: calc(34 / 18);
  }
}
