.header {
  width: 100%;
  min-height: 825px;
  background-image: url("../img/background-bike-desctop@1x.png");
  background-size: cover;
  background-color: rgb(29, 29, 29);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/background-bike-desctop@2x.png");
  }

  @media (max-width: $tablet-width) {
    min-width: 768px;
    max-width: 1023px;
    min-height: 340px;
    background-image: url("../img/background-bike-tablet@1x.png");
    background-size: contain;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/background-bike-tablet@2x.png");
    }
  }

  @media (max-width: $mobile-width) {
    min-width: 320px;
    max-width: 767px;
    min-height: 390px;
    background-image: url("../img/background-bike-mobile@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/background-bike-mobile@2x.png");
    }
  }
}

.header__logo-wrap {
  width: 100%;
  min-width: 1024px;
  max-width: 1166px;
  min-height: 0;
  margin: 0 auto;
  position: relative;

  @media (max-width: $tablet-width) {
    min-width: 768px;
    max-width: 1023px;
    margin: 0;
    min-height: 50px;
  }

  @media (max-width: $mobile-width) {
    min-width: 320px;
    max-width: 767px;
  }
}

.header__logo {
  position: absolute;
  width: 68px;
  height: 21px;
  bottom: -338px;
  left: 144px;

  @media (max-width: $tablet-width) {
    bottom: 5px;
    left: 22px;
  }

  @media (max-width: $mobile-width) {
    left: 16px;
  }
}

.header__burger {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
    width: 50px;
    height: 50px;
    border: none;
    background-color: $basic;
    background-image: url("../img/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    margin-left: auto;
    margin-right: 0;
  }
}

.header__burger--hidden {
  display: none;
}

.header__burger--close {
  display: block;
  width: 50px;
  height: 50px;
  border: none;
  background-color: $light-1;
  background-image: url("../img/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin-left: auto;
  margin-right: 0;
  position: relative;
  z-index: 3;
}

.header__burger:hover,
.header__burger:focus {
  @media (max-width: $tablet-width) {
    background-color: $basic-hover;
  }
}

.header__burger:active {
  background-color: rgba($basic-hover, 0.4);
}

.header__nav {
  width: 100%;
  min-width: 1024px;
  max-width: 1166px;

  padding: 0 146px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    display: none;
    min-height: 568px;
    background-color: $light-1;
    min-width: 768px;
    max-width: 1023px;
    padding: 0;
    padding-top: 98px;
    margin-top: -50px;
    position: relative;
    z-index: 2;
  }

  @media (max-width: $mobile-width) {
    min-width: 320px;
    max-width: 767px;
  }
}

.header__nav--open {
  @media (max-width: $tablet-width) {
    display: block;
  }
}

.header__list {
  @include list-reset;
  height: 62px;
  padding-left: 19px;
  padding-right: 19px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  @media (max-width: $tablet-width) {
    height: auto;
    flex-direction: column;
    border-bottom: none;
    padding: 0;
  }
}

.header__item {
  @media (max-width: $tablet-width) {
    width: 100%;
    height: 60px;
    padding-top: 0;
    padding-left: 16px;
    padding-right: 35px;
    background-color: $light-4;
    margin-bottom: 30px;
    position: relative;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 18px;
      right: 16px;
      width: 25px;
      height: 25px;
      background-image: url("../img/arrow.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.header__item a {
  box-sizing: border-box;
  display: block;
  height: 62px;
  padding-top: 20px;
  color: $light-1;
  letter-spacing: -0.3px;

  @media (max-width: $tablet-width) {
    font-size: 20px;
    line-height: 65px;
    letter-spacing: -0.002em;
    height: 60px;
    color: $light-5;
    padding-top: 0;
  }
}

.header__item a:hover,
.header__item a:focus {
  color: $basic;
}

.header__item a:active {
  color: rgba($basic, 0.5);
}

.header__inner {
  width: 100%;
  min-width: 1024px;
  max-width: 1166px;
  min-height: 763px;
  margin: 0 auto;
  padding: 0 143px;
  padding-top: 243px;

  @media (max-width: $tablet-width) {
    min-width: 768px;
    max-width: 1023px;
    min-height: 290px;
    margin: 0 auto;
    padding: 0;
    padding-top: 84px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: $mobile-width) {
    min-width: 320px;
    max-width: 767px;
    min-height: 340px;
    padding-top: 70px;
  }
}

.header__inner h1,
.header__inner p {
  @include text-reset;
  width: 393px;

  @media (max-width: $tablet-width) {
    width: 100%;
    text-align: center;
  }
}

.header__inner h1 {
  font-weight: 700;
  font-size: 46px;
  line-height: calc(64 / 46);
  letter-spacing: -0.3px;
  color: $light-1;
  padding-top: 65px;
  margin-bottom: 23px;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    line-height: 1.39;
  }

  @media (max-width: $tablet-width) {
    padding-top: 0;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: calc(42 / 30);

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      line-height: 1.4;
    }
  }

  @media (max-width: $mobile-width) {
    width: 288px;
  }
}

.header__inner p {
  font-weight: 300;
  font-size: 20px;
  line-height: calc(32 / 20);
  letter-spacing: -0.1px;
  color: $light-1;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    line-height: 1.6;
  }

  @media (max-width: $tablet-width) {
    width: 435px;
    text-align: center;
    font-size: 18px;
    line-height: calc(32 / 18);

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      line-height: 1.78;
    }
  }

  @media (max-width: $mobile-width) {
    width: 288px;
  }
}
