.main {
  width: 100%;
}

.main__wrap-form {
  width: 100%;
  min-width: 1024px;
  max-width: 1166px;
  height: 0;
  margin: 0 auto;
  position: relative;

  @media (max-width: $tablet-width) {
    min-width: 768px;
    max-width: 1023px;
    min-height: 343px;
    padding-top: 70px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: $mobile-width) {
    min-width: 320px;
    max-width: 767px;
    min-height: 358px;
  }
}

.main__wrap-bicycle {
  width: 100%;
  background-color: $light-4;
}

.main__wrap-video {
  width: 100%;
  height: 804px;
  background-image: linear-gradient($dark-2 87.9%, $light-1 0%);

  @media (max-width: $tablet-width) {
    height: 498px;
    background-image: linear-gradient($dark-2 83%, $light-1 0%);
  }

  @media (max-width: $mobile-width) {
    height: 433px;
    background-image: linear-gradient($dark-2 88.5%, $light-1 0%);
  }
}
