.main {
  width: 100%;
}

.main__wrap-form {
  width: 100%;
  min-width: 1024px;
  max-width: 1166px;
  height: 0;
  margin: 0 auto;
  // padding-left: 695px;
  // padding-right: 143px;
  position: relative;
  background-color: cornflowerblue;
}

// .main__wrap-commercial {
//   width: 100%;

//   position: relative;

//   background-color: peru;
// }
