.main {
  width: 100%;
}

.main__wrap-form {
  width: 100%;
  min-width: 1024px;
  max-width: 1166px;
  height: 0;
  margin: 0 auto;
  position: relative;
  // background-color: cornflowerblue;
}

.main__wrap-bicycle {
  width: 100%;
  background-color: $light-4;
}

.main__wrap-video {
  width: 100%;
  height: 804px;
  background-image: linear-gradient($dark-2 87.9%, $light-1 0%);
}
