.video {
  width: 100%;
  min-width: 929px;
  max-width: 929px;
  margin: 0 auto;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: $tablet-width) {
    min-width: 768px;
    max-width: 1023px;
    padding-top: 70px;
    padding-left: 133px;
    padding-right: 132px;
  }

  @media (max-width: $mobile-width) {
    min-width: 320px;
    max-width: 767px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 84px;
  }
}

.video h2,
.video p {
  @include text-reset;
  color: $light-1;
  letter-spacing: -0.1px;
}

.video h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 1;
  margin-left: -12px;
  margin-bottom: 20px;

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: calc(30 / 24);
    margin-left: 0;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      line-height: 1.25;
    }
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;
    margin-left: -12px;
  }
}

.video p {
  width: 340px;
  font-weight: 300;
  font-size: 16px;
  line-height: calc(28 / 16);
  margin-left: 21px;
  margin-bottom: 56px;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    line-height: 1.75;
  }

  @media (max-width: $tablet-width) {
    width: 429px;
    letter-spacing: -0.005em;
    margin-left: 2px;
    margin-bottom: 40px;
    text-align: center;
  }

  @media (max-width: $mobile-width) {
    width: 288px;
    margin-bottom: 54px;
  }
}

.video-inner {
  position: relative;
}

.video-inner img {
  width: 929px;
  height: 522px;

  @media (max-width: $tablet-width) {
    width: 503px;
    height: 282px;
  }

  @media (max-width: $mobile-width) {
    width: 288px;
    height: 161px;
  }
}

.video__button {
  @include text-reset;
  padding: 0;
  background-color: transparent;
  border: transparent;
  position: absolute;
  top: 225px;
  right: 426px;
  width: 75px;
  height: 75px;
  cursor: pointer;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    top: 224px;
    right: 427px;
    padding-top: 5px;
  }

  @media (max-width: $tablet-width) {
    width: 91px;
    height: 91px;
    top: 96px;
    right: 205px;
  }

  @media (max-width: $mobile-width) {
    top: 42px;
    right: 106px;
  }
}

.video__play {
  width: 65px;
  height: 65px;
  fill: $basic;

  @media (max-width: $tablet-width) {
    width: 91px;
    height: 91px;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      width: 91px;
      height: 91px;
    }
  }

  @media (max-width: $mobile-width) {
    width: 65px;
    height: 65px;
  }
}

.video__button:hover,
.video__button:focus {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    background-color: $basic-hover;
    border-radius: 20%;
  }
}

.video__button:active {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    background-color: rgba($basic-hover, 0.4);
    border-radius: 20%;
    transition: all 0.2s ease;
  }
}

.video__play:hover,
.video__play:focus {
  fill: $basic-hover;
  transition: all 0.2s ease;
}

.video__play:active {
  fill: rgba($basic-hover, 0.4);
  transition: all 0.2s ease;
}
