$light-1: #ffffff;
$light-2: #f6f6f6;
$light-3: #c9ccd4;
$light-4: #f6f7f9;
$light-5: #48494d;
$basic: #0ad9c6;
$basic-hover: #0ab0d9;
$dark-1: #1f1f1f;
$dark-2: #131314;
$dark-3: #1c1c1c;
$dark-4: #070707;
$dark-5: #000000;
$invalid-form: #ff8282;
